@tailwind base;
@tailwind components;
@tailwind utilities;

.secure-lead-data {
  user-select: none;
  -webkit-user-select: none;
}
.secure-lead-data * {
  user-select: none !important;
  -webkit-user-select: none !important;
}